@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,600&display=swap');

body {
    margin: 0;
    font-family: 'poppins';
    color: rgb(5, 105, 145);
    
}

/*navigation bar for an exercise menu*/
/*.nav {
    display: flex;
    flex-direction: row;
    float: right;
    display: inline;
    justify-content: space-around;
    background-color: white;
}*/

ul, li {
    list-style-type: none;
    float: left;
}

.title {
    text-align: center;
    font-family: 'poppins';
    font-size: 50px;
    padding: 5px;
    text-shadow: 3px 3px 10px rgb(206, 241, 6);
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}



.container {
    background-color: rgba(5, 149, 185, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    padding: 10px;
    
}

.color {
    width: 100px;
    height: 100px;
    margin: 20px;
    color: white;
    text-align: center;
    line-height: 100px;
    border-radius: 50px;
    transition: width 2s;
}

.color:hover {
    width: 150px;
    color:rgb(239, 239, 245) !important;
  }


#blanc:hover {
    width: 150px;
    color:rgb(0, 0, 0) !important;
}

#creme:hover {
    width: 150px;
    color:rgb(0, 0, 0) !important;
}




.footer {
    justify-content: center;
    text-align: center;
    font-family: 'poppins';
    color: rgb(86, 86, 88);
    font-size: 10px;
    height: 50px;
    line-height: 50px;
    bottom: 0;
}

a {
    text-decoration: none;
}



#vert {
    background-color: rgb(4, 187, 4);
    color: rgb(4, 187, 4);
   
}

#rouge {
    background-color: rgb(196, 46, 46);
    color: rgb(196, 46, 46);
}

#noir {
    background-color: black;
    color: black;
    
}

#bleu {
    background-color: rgb(45, 124, 241);
    color: rgb(45, 124, 241);
}

#rose {
    background-color: rgb(241, 18, 156);
    color: rgb(241, 18, 156);
   
}

#violet {
    background-color: rgb(136, 3, 189);
    color: rgb(136, 3, 189);
   
}

#jaune {
    background-color: rgb(212, 226, 7);
    color: rgb(212, 226, 7);
    
}

#gris {
    background-color: rgb(134, 134, 134);
    color: rgb(134, 134, 134);
}

#orange {
    background-color: rgb(233, 137, 13);
    color: rgb(233, 137, 13);
   
}

#creme {
    background-color: rgb(240, 210, 210);
    color: rgb(240, 210, 210);
}

#lilas {
    background-color: rgb(234, 130, 238);
    color: rgb(234, 130, 238);
}

#marron {
    background-color: rgb(87, 37, 8);
    color: rgb(87, 37, 8);
}

#menthe {
    background-color: rgb(30, 236, 243);
    color: rgb(30, 236, 243);
}

#blanc {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#colore {
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    color: transparent;
}


#vert-clair {
    background-color: rgb(145, 241, 145);
    color: rgb(145, 241, 145);
}

#rouge-clair {
    background-color: rgb(248, 121, 121);
    color: rgb(248, 121, 121);
}

#noir-fonce {
    background-color: rgb(48, 45, 45);
    color: rgb(48, 45, 45);
}



